# Mac files
.DS_Store

# Dependency directories
/node_modules

# lerna files
/lerna-debug.log

# Local Netlify folder
.netlify
# @netlify/plugin-gatsby ignores start
netlify/functions/gatsby
# @netlify/plugin-gatsby ignores end
